{% extends  'base.html' %}
{% block content %}
{% for request in sent_requests%}
    <h2>{{ request.coin }}</h2>
<h3>Sent To <a href="{{ url_for('user.profile', username=request.seller) }}">{{ request.seller }}</a></h3>
    <h3>Date: {{ request.date }}</h3>
    <h4>Status: {{ request.status }}</h4>
        <button onclick="window.location.href='{{ url_for('request.detail', request_id=request['id']) }}' ">Detail</button>
        <button onclick="window.location.href='{{ url_for('request.cancel', request_id=request['id']) }}' ">Cancel</button>
    <hr>
    {% else %}
    <h3>You dont have any active sent requests. If you want to see a history of old requests, <br>
        please go to archive sent requests page: <a href='{{ url_for('request.sent_archived')}}'>Archived Sent Requests</a></h3>

{% endfor %}


{% endblock %}