{% if current_user.is_authenticated %}
    <a href="#" class="notification-link">
        {% if current_user.notification_count %}
            <div class="notification_count">{{ current_user.notification_count.unseen }}</div>
        {% endif %}

        <img src="{{ url_for('static',filename='img/notification.png' ) }}" alt="notification">
    </a>
    {% if current_user.notification_count %}

        <div class="notification-list">
            {% for notification in current_user.unseen_notifications %}
                <div class="li-notification {{ notification.type }}">
                    <a class="notification-link" href="{{ url_for(notification.url_endpoint,**dict(notification.args)) }}">
                        <li>
                            {{ notification.text }}
                        </li>
                    </a>
                </div>
            {% endfor %}

{#        moshahedeye hameye notification haye seen va unseen dar yek safhyeye jodagane#}

                <div class="li-notification INFO">
                    <a class="notification-link" href="{{ url_for("notification.all") }}">
                        <li>
                            مشاهده همه
                        </li>
                    </a>
                </div>
        </div>

    {% endif %}
{% endif %}
