{% extends 'base.html' %}
{% block content %}
    <h2>Welcome to admin page</h2>
    <a href="{{ url_for('admin.admin') }}">Dashboard</a> |
    <a href="{{ url_for('admin.get_users') }}">View Users</a> |
    <a href="{{ url_for('admin.get_authorization_requests') }}">View Authorization Requests</a> |
{% endblock %}
