{% extends 'dashboard-base.html' %}
{% block content %}
    {{ super() }}
    <br><br>
<a href="{{ url_for('support.list_unanswered_tickets') }}">View Unanswered Tickets</a>
    <a href="{{ url_for('admin.add_email_template') }}">Add Email Template</a>
{% endblock %}