{% extends 'base.html' %}

{% block content %}
    {% for e in exceptions %}
        <p>Type: {{ e.type }}</p>
        <p>Stack Trace: {{ e.stack_trace }}</p>
        <p>File: {{ e.file }}</p>
        <p>Database Objects:
            {% for o in e.database_objects %}
                <p>Model Name: {{ o.model_name }}</p>
                <p>Id: {{ o.id }}</p>
                <p><a href="{{ url_for('admin.database_viewer', model_name=o.model_name, id=o.id) }}">View in database
                    viewer</a></p>
            {% endfor %}
        <p><a href="{{ url_for('user.profile', username=user) }}">{{ e.user }}</a></p>
        <p>Is Critical: {{ e.is_critical }}</p>
        {% if not e.is_critical %}
            <a href="{{ url_for('admin.mark_as_critical', id=e.id) }}">Mark as critical</a>
        {% endif %}

        </p>
    {% endfor %}
{% endblock %}