{% extends 'dashboard-base.html' %}
{% block content %}
{{ super() }}
    <table>
    {% for user in users %}
        <tr>
        <td>{{ user.phonenumber }}</td>
        <td>{{ user.fname }}</td>
        <td>{{ user.lname }}</td>
        <td><a href="{{ url_for('user.profile', username=user.username) }}">View</a> |
{#            <a href="{{ url_for('item.list_items', username=user.username) }}">View Items </a> |#}
            <a href="{{ url_for('request.sent_request', username=user.username) }}">View Sent Requests </a> |
            <a href="{{ url_for('request.received_request', username=user.username) }}">View Received Requests </a> |
            {% if user.status == 'BANNED' %}
                <a href="{{ url_for('admin.unban', username=user.username) }}">Unban </a> |
            {% elif user.role != 'ADMIN' %}
                <a href="{{ url_for('admin.elevate', username=user.username) }}">Elevate </a> |
                <a href="{{ url_for('admin.ban', username=user.username) }}">Ban </a> |
            {% endif %}

        </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}