{% extends  'base.html' %}
{% block title %}
    تغییر درخواست
{% endblock %}
{% block content %}
    {{ item['owner'] }}


    <form method="POST" action="{{ url_for('request.change_request',request_id=request['id']) }}"
          id="request_to_seller">
        <input type="hidden" name="seller" id="seller" value="{{ item['owner'] }}">
        <p>{{ item['coin'] }}</p>
        <hr>

        {{ form.date }}
        <p>تغییر مقدار</p>
        {{ form.amount }}
        <hr>

        <p>تغییر قیمت دلار</p>
        {{ form.dollar_price }}
        <hr>
        <p>تغییر قیمت هر واحد دلار</p>
        {{ form.per_unit_price }}
        <hr>

        <p>کیف پول خریدار</p>
        {{ request.buyer_wallet }}
        <hr>
        <p>کیف پول فروشنده</p>
        {{ request.seller_wallet }}
        <hr>

        <input type="submit" value="send back" id="test_request">

        {{ form.hidden_tag() }}

    </form>

{% endblock %}