{% extends  'base.html' %}
{% block extra_socket %}
    <script>

    </script>
    <script>
        function send_message() {
            var chat_input = $('#chat-submit').find('input[type=text]');
            var text = chat_input.val();
            chat_input.val("");
            socket.emit('chat_message', {
                chatroom: '{{ request.id }}',
                msg_type: 'TEXT',
                msg: text,
                sender: '{{ current_user.username }}'
            });
        }

        function create_message(chat_message, msg_type, msg, sender, date) {
            if (msg_type === 'TEXT') {
                var msg_node = document.createElement('p');
                msg_node.innerHTML = msg;
            }
            if (msg_type == 'IMAGE')
                var msg_node = document.createElement('img');
            sender_node = document.createElement('h5');
            sender_node.innerHTML = sender;
            chat_message.find('.chat-message-content').append(msg_node).append(sender_node);
            chat_message.find('.chat-time').html(date);
            chat_message.css("display", "block")
            $('.chat-history').append(chat_message);
            $('.chat-history').stop().animate({scrollTop: $('.chat-history')[0].scrollHeight}, 1000);
        }
    </script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#chat-submit').find('input[type=text]').keypress(function (event) {
                if (event.which == 13 || event.which == 10) {
                    event.preventDefault();
                    send_message();
                }
            });
            var chat_message_node = $('.chat-message').clone();
            socket.on('request_change', function () {
                $("body").append("text");
            });

            socket.on('conflict', function () {
                $('div#live-chat > header').css('background', 'red');
            })

            socket.on('join_chat_accepted', function () {
                console.log('joined chat.');
                // notify user
            });
            socket.on('join_chat_declined', function () {
                console.log('cant join this chat.');
                // notify user
            });
            socket.on('not_in_room', function () {
                var chat_message = chat_message_node.clone()
                create_message(chat_message, 'TEXT', 'you are not in room. request must be accepted before chat.', 'system', Date.now())
            })
            socket.on('chat_message', function (message) {
                var chat_message = chat_message_node.clone()
                var msg_type = message['msg_type'];
                var msg = message['msg'];
                var sender = message['sender'];
                var date = message['date'];
                create_message(chat_message, msg_type, msg, sender, date);
            });
            var chat_index = 1
            socket.emit('chat_history', {chat_index: chat_index, room_id: '{{ request.id }}'});
            socket.emit('join_chat', {chatroom: '{{request.id}}'});
            socket.on('batch_message', function (data) {
                console.log(data)
                var messages = data['messages']
                var end = data['end']
                for (var i = 0; i < messages.length; i++) {
                    var chat_message = chat_message_node.clone()
                    var msg_type = messages[i]['type']
                    var msg = messages[i]['data']
                    var sender = messages[i]['sender']
                    var date = messages[i]['date']
                    create_message(chat_message, msg_type, msg, sender, date)
                }
                chat_index++
                if (!end) {
                    socket.emit('chat_history', {chat_index: chat_index, room_id: '{{ request.id }}'});
                }

            })
            $('#live-chat header').on('click', function () {

                $('.chat').slideToggle(300, 'swing');
                $('.chat-message-counter').fadeToggle(300, 'swing');

            });

            $('.chat-close').on('click', function (e) {

                e.preventDefault();
                $('#live-chat').fadeOut(300);

            });

        });
    </script>
{% endblock %}
{% block content %}
    <p>Request Id: {{ request.id }}</p>
    <p>Coin: {{ request.coin }}</p>
    <p>Amount: {{ request.amount }}</p>
    <p>Rial Price: {{ request.transaction.total_price }}</p>
    <p>Status: {{ request.status }}</p>
    <p>Total Price: {{ request.total_price }}</p>
    <p>Sent To: <a href="{{ url_for('user.profile', username=request.buyer) }}">{{ request.buyer }}</a></p>
    <p>Ad : <a href="{{ url_for('advertisement.detail', ad_id=request.ad_id) }}">{{ request.ad_id }}</a></p>
    <p>Buyer Wallet: {{ request.buyer_wallet }}</p>
    {% if request.transaction == 'PENDING_SELLER_PAY' %}
        <button onclick="window.location.href='{{ url_for('request.conflict', request_id=request['id']) }}' ">Conflict
        </button>
    {% endif %}
    <div>
        <h2>Transaction</h2>
        <h1 class="current_state" style="color:red;">{{ current_state[0] }}</h1>
        {% if request.transaction %}
            <p>Price to Pay: {{ request.transaction.total_price }}</p>
            <p>Date: {{ iran_date(request.transaction.date) }}</p>
            <p>Status: {{ request.transaction.status }}</p>
            {% if request.transaction.status == 'PENDING_BUYER_PAY' and request.buyer == current_user.username %}
                {% if not request.transaction.payments or request.transaction.payments[-1].status != 'PAYED' %}
                    {% if can_pay == None or can_pay == True %}
                        <button onclick="window.location.href='{{ url_for('payment.coin_payment', request_id=request.id) }}'">
                            Pay
                        </button>
                    {% else %}
                        <p>You cant pay this request anymore. if you are in payment page, please continue your payment.
                            otherwise make a new request.</p>
                    {% endif %}
                {% else %}
                    <p>Payment is successful. Wait for seller to pay.</p>
                {% endif %}
            {% elif request.transaction.status == 'PENDING_BUYER_PAY' and request.seller == current_user.username %}
                <p>Please wait for buyer to pay</p>
            {% elif request.transaction.status == 'SELLER_TOLD_PAID' and request.buyer == current_user.username %}
                <p>Seller told that he/she has paid. Please check your wallet.</p>
                <p>After checking if it's true click this button: </p>
                <button onclick="window.location.href='{{ url_for('request.buyer_confirm_request_completion', request_id=request.id) }}'">
                    Confirm That Seller Paid
                </button>
            {% elif request.transaction.status == 'INVALID' and request.buyer == current_user.username %}
                <p>Transaction is invalid please send a new request.</p>
            {% elif request.transaction.status == 'INVALID' and request.seller == current_user.username %}
                <p>Buyer didnt pay in specified time.</p>
            {% elif request.transaction.status == 'PENDING_SELLER_PAY' and request.seller == current_user.username %}
                {% if request.transaction.seller_transaction_hashes is defined and request.transaction.seller_transaction_hashes|length > 0 %}
                    <p>Current Tx Hashes:</p>
                    {% for hash in request.transaction.seller_transaction_hashes %}
                        {{ hash.tx_hash }} -
                        <a href="{{ url_for('request.delete_transaction_hash', request_id=request.id, tx_hash=hash.tx_hash) }}">Delete</a>
                        {% if 'NOT_CHECKED' not in hash.status %}
                            <p>Status: {{ hash.status }}</p>
                            <p>Amount: {{ hash.amount }}</p>
                            <p>Date: {{ iran_date(hash.date) }}</p>
                        {% else %}
                            <p>Please wait for your transaction hash to be checked...</p>
                        {% endif %}
                        <hr>
                    {% endfor %}
                    <p>If you have added all transaction hashes please click this button to notify buyer.</p>
                    <button onclick="window.location.href='{{ url_for('request.seller_confirm_coin_payment', request_id=request['id']) }}' ">
                        Confirm Coin Payment
                    </button>
                {% else %}
                    <p>Please send {{ request.amount }} {{ request.coin }} to {{ request.buyer }}</p>
                    <p>then please put transaction id here:</p>
                    <p>If transaction is divided to parts please add all parts seperately.</p>
                {% endif %}
                <form action="{{ url_for('request.add_transaction_hash', request_id=request.id) }}" method="POST">
                    {{ form.hidden_tag() }}
                    {{ show_input('tx_hash') }}
                    {{ show_input('submit') }}
                </form>

            {% elif request.transaction.status == 'PENDING_SELLER_PAY' and request.buyer == current_user.username %}
                <p>Please wait for seller to send your coin.</p>
            {% elif request.transaction.status == 'DONE' %}
                <p>All good!</p>
            {% endif %}


            {% for payment in request.transaction.payments %}
                <p>Payment {{ payment.id }}: <a href="{{ url_for('payment.detail', payment_id=payment.id) }}">Go to</a>
                </p>
            {% else %}
                {% if current_user.username == request.buyer %}
                    <p>No Payment are made yet. click pay to add payment.</p>
                {% else %}
                    <p>No Payment are made yet. Please wait for buyer to pay.</p>
                {% endif %}
            {% endfor %}


        {% elif request.status == 'PENDING' %}
            {% if request.seller == current_user.username %}
                <button onclick="window.location.href='{{ url_for('request.decline', request_id=request['id']) }}' ">
                    Decline
                </button>
                <button onclick="window.location.href='{{ url_for('request.accept', request_id=request['id']) }}' ">
                    Accept
                </button>
            {% else %}
                <button onclick="window.location.href='{{ url_for('request.cancel', request_id=request['id']) }}' ">
                    Cancel
                </button>
            {% endif %}
        {% elif request.status == 'PENDING_BUYER_PAY' %}
            <button onclick="window.location.href='{{ url_for('request.cancel', request_id=request['id']) }}' ">
                Cancel
            </button>
        {% else %}
            {% if current_user.username == request.buyer %}
                <p>No Transactions yet. Wait for seller to accept.</p>
            {% elif current_user.username == request.seller %}
                <p>No Transactions yet. Please accept request for one to be created.</p>
            {% endif %}
        {% endif %}

    </div>

    <div id="live-chat" style="margin-right: 100px; {% if request.status == 'CONFLICT' %} background: red; {% endif %}">

        <header class="clearfix">

            <a href="#" class="chat-close">x</a>

            <h4>{{ request.seller if request.buyer == current_user.username else request.buyer }}</h4>

            <span class="chat-message-counter">3</span>

        </header>

        <div class="chat">

            <div class="chat-history">

                <div class="chat-message clearfix" style="display: none">

                    <img src="" alt="" width="32" height="32">

                    <div class="chat-message-content clearfix">

                        <span class="chat-time"></span>

                    </div> <!-- end chat-message-content -->

                </div> <!-- end chat-message -->

            </div> <!-- end chat-history -->

            {#            <p class="chat-feedback">Your partner is typing…</p>#}

            <div id="chat-submit" style="padding: 10px;">
                <input type="text" placeholder="Type your message…" autofocus>
                <button type="button" onclick="send_message()">Send</button>
            </div>

        </div> <!-- end chat -->

    </div> <!-- end live-chat -->
    {% if request.transaction.status != 'PENDING' and request.transaction.status != 'PENDING_BUYER_PAY' and request.status !='CONFLICT' and request.status !='PENDING' and current_state[1] != 'conflict' %}
        <div class="conflict">
            <form action="{{ url_for('request.conflict',request_id=request.id ) }}" method='post'>
                {#            <input id="start-conflict" name="name-conflict" class="start-conflict" value='Start Conflict' onclick="confirm('Are you sure you want to start this shit ?') ">#}
                {{ conflict.start(id='conflict',onclick="confirm('Are you sure you want to start this shit ?')") }}
                {{ conflict.csrf_token }}
            </form>
        </div>
    {% elif request.transaction.status != 'PENDING' and request.transaction.status != 'PENDING_BUYER_PAY' and request.status == 'CONFLICT' and current_user.role == 'USER' %}
        <div class="conflict">
            <form action="{{ url_for('request.fight',request_id=request.id ) }}" method='post'>
                {{ fight.BUYER_WON }}
                {{ fight.SELLER_WON }}
                {{ fight.JUDGE_REQUEST }}
            </form>
        </div>
    {% endif %}

    {% if current_user.role == 'ADMIN' and request.status == 'CONFLICT' and request.conflict.status == 'JUDGE_REQUEST' %}
        <form action="{{ url_for('request.judge',request_id=request.id ) }}" method='post'>
            {{ judge.BUYER_WON }}
            {{ judge.SELLER_WON }}
        </form>
    {% endif %}
{% endblock %}
