{% extends 'base.html' %}
{% block content %}
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            var form = document.createElement("form");
            form.setAttribute("method", "POST");
            form.setAttribute("action", "{{ gateway }}");
            form.setAttribute("target", "_self");
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("name", "RefId");
            hiddenField.setAttribute("value", "{{ ref_id }}");
            form.appendChild(hiddenField);

            document.body.appendChild(form);
            form.submit();
            document.body.removeChild(form);
        })
    </script>
    <h2>Please wait sending to gateway...</h2>
{% endblock %}