{% extends 'base.html' %}

{% block content %}
    <h1>Withdrawal Payments</h1>
    {% for p in payments %}
        <p>Amount: {{ p.total_price }}</p>
        <p>Request: <a href="{{ url_for('request.detail', request_id=p.request.id) }}"></a>Go to</p>
        <p>Checked Out: {{ p.checked_out }}</p>
        <p>Payment Verified: {% if p.status == 'PAID' %} True {% else %} False {% endif %}</p>
    {% endfor %}
{% endblock %}