{#{% extends 'base.html' %}#}
{#{% block extra_css %}#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/advertisement/create.css') }}">#}
{#{% endblock %}#}
{#{% block extra_script %}#}
{#    <script src="{{ url_for('static', filename='js/advertisement/create.js') }}"></script>#}
{##}
{#{% endblock %}#}
{##}
{#{% block extra_socket %}#}
{#    <script src="{{ url_for('static', filename='js/advertisement/socket.js') }}"></script>#}
{##}
{#{% endblock %}#}
{#{% block content %}#}
{#    <form method="post" action="">#}
{#        <p>{{ form.coin.label.text }}</p>#}
{#        {{ form.coin }}#}
{#        <hr>#}
{##}
{#        {{ form.date }}#}
{#        <hr>#}
{#        {{ form.price_model.label.text }}#}
{#        {{ form.price_model }}#}
{#        <hr>#}
{#        <div class="dollar_price">#}
{#            {{ form.dollar_price.label.text }}#}
{#            {{ form.dollar_price(readonly=True) }}#}
{#        </div>#}
{#        <hr>#}
{#        <div class="per_unit_price">#}
{#            {{ form.per_unit_price.label.text }}#}
{#            {{ form.per_unit_price }}#}
{#        </div>#}
{#        <hr>#}
{##}
{#        <div class="wallet_type">#}
{#            {{ form.wallet_type.label.text }}#}
{#            {{ form.wallet_type }}#}
{#        </div>#}
{##}
{#        <div class="wallet">#}
{#            <p>{{ form.wallet.label.text }}</p>#}
{#            {{ form.wallet }}#}
{##}
{#            <hr>#}
{#            <div class="balance"></div>#}
{#        </div>#}
{#        <br>#}
{#        <div class="max-amount">#}
{#            <p>{{ form.max_amount.label.text }}</p>#}
{#            {{ form.max_amount }}#}
{#        </div>#}
{#        <br>#}
{#        <div class="min-amount">#}
{#            <p>{{ form.min_amount.label.text }}</p>#}
{#            {{ form.min_amount }}#}
{#        </div>#}
{##}
{#        <p>{{ form.private.label.text }}</p>#}
{#        {{ form.private }}#}
{#        <hr>#}
{#        <p>#}
{#            {{ form.commission_type.label.text }}#}
{#            {{ form.commission_type }}#}
{#        </p>#}
{#        <hr>#}
{#        <input type="submit" value="ارسال">#}
{#    </form>#}
{##}
{#    <div class="calculate">#}
{#        <p class="calculated_number"> 0 </p>#}
{#    </div>#}
{#{% endblock %}#}
{##}


{% extends 'base.html' %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/advertisement/create.css') }}">
{% endblock %}
{% block extra_script %}
    <script src="{{ url_for('static', filename='js/advertisement/create.js') }}"></script>

{% endblock %}

{% block extra_socket %}
    <script src="{{ url_for('static', filename='js/advertisement/socket.js') }}"></script>

{% endblock %}
{% block content %}
    <form method="post" action="">
    {{ form.hidden_tag() }}
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
        {{ show_input('coin') }}
        {{ show_input('price_model') }}
        {{ show_input('dollar_price', 'dollar_price') }}
        {{ show_input('per_unit_price', 'per_unit_price') }}
        {{ show_input('wallet_type', 'wallet_type') }}
        {{ show_input('wallet', 'wallet') }}
        <div class="balance"></div>
        <br>
        {{ show_input('max_amount', 'max-amount') }}
        <br>
        {{ show_input('min_amount', 'min-amount') }}

        {{ show_input('private') }}
        {{ show_input('commission_type') }}
        <hr>
        {{ show_input('submit') }}
    </form>

    <div class="calculate">
        <p class="calculated_number"> 0 </p>
    </div>
{% endblock %}