<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ item['coin'] }} - {{ current_user.email }}</title>
</head>
<body>
    <h3>{{ item['coin'] }}</h3>
    <h3> {{ item['price_model'] }}</h3>
    <button onclick="window.location.href='{{ url_for("item.update_an_item", id=item["id"], edit=True) }}'">edit</button>
    <button onclick="window.location.href='{{ url_for("item.delete_an_item", id= item["id"], delete=True) }}'">delete</button>
</body>
</html>