{% extends  'base.html' %}
{% block content %}
    {% for request in received_requests %}
        <h3>Amount: {{ request.amount }} </h3>
        <h3>Date: {{ request.date }}</h3>
        <h3>Ad Id: {{ request.ad_id }}</h3>
        <h3>Buyer Wallet: {{ request.buyer_wallet }}</h3>
        <h3>Status: {{ request.status }}</h3>
        {% if request.transaction %}
            Tx Id: {{ request.transaction.id }}
            Date: {{ request.transaction.date }}
            Total Price: {{ request.transaction.total_price }}
        {% endif %}

        <button onclick="window.location.href='{{ url_for('request.detail', request_id=request['id']) }}' ">Detail
        </button>
        <button onclick="window.location.href='{{ url_for('request.decline', request_id=request['id']) }}' ">Decline
        </button>
        <button onclick="window.location.href='{{ url_for('request.accept', request_id=request['id']) }}' ">Accept
        </button>
        <hr>
    {% else %}
        <h3>You dont have any active received requests. If you want to see a history of old requests, <br>
            please go to archive received requests page: <a href='{{ url_for('request.received_archived') }}'>Archived
                Received Requests</a></h3>
    {% endfor %}

{% endblock %}