{% extends 'base.html' %}
{% block content %}
    {% for req in requests %}
        <p>Req Id: {{ req.id }}</p>
        <p>Coin: {{ req.coin }}</p>
        <p>Seller: {{ req.seller }}</p>
        <p>Buyer: {{ req.buyer }}</p>
        <p>Amount: {{ req.amount }}</p>
        <a href="{{ url_for('devtools.add_payment', req_id=req.id, status='PAID') }}">Add Valid Payment</a> <br>
        <a href="{{ url_for('devtools.add_payment', req_id=req.id, status='INVALID') }}">Add Invalid Payment</a>
        <hr>
        <br>
    {% endfor %}
{% endblock %}