{% extends 'base.html' %}
{% block content %}
    <h1>Authorization</h1>
    <script>
        var settings = {
            "async": false,
            "crossDomain": true,
            "url": "http://localhost:8080/authorization/add",
            "method": "POST",
            "headers": {
                "Content-Type": "application/json",
                "Cache-Control": "no-cache",
            }
        }
        $(document).ready(function (e) {
            $("button").click(function () {
                $.ajax(settings).done(function () {
                   self.location = location
                });
            });
        });
    </script>

    <form action="{{ url_for('authorization.authorize') }}" method="POST" enctype="multipart/form-data" name="authorize">
        {{ form.hidden_tag() }}
        <p>
        {% if user.authorization_status == 'AUTHORIZED' %}
            Authorized
        {% elif user.authorization_status == 'NOT_AUTHORIZED' %}
            Not Authorized, Please visit authorization page.
        {% elif user.authorization_status == 'REJECTED' %}
            Authorization Rejected, Please visit authorization page to change your authorization info.
        {% else %}
            Pending Authorization, Please wait for our colleagues to accept your authorization.
        {% endif %}
        </p>

        <p>
            Please Enter Your Personal Authorization Info:
            <br>
            <br>
            <label for="{{ form.fname.id }}">{{ form.fname.label }}</label>
            {{ form.fname(size=40) }}
            {% for error in form.fname.errors %}
                <span style="color: red">[{{ error }}]</span>
            {% endfor %} <br>

            <label for="{{ form.lname.id }}">{{ form.lname.label }}</label>
            {{ form.lname(size=40) }}
            {% for error in form.lname.errors %}
                <span style="color: red">[{{ error }}]</span>
            {% endfor %} <br>

            <label for="{{ form.melli_code.id }}">{{ form.melli_code.label }}</label>
            {{ form.melli_code(size=40) }}
            {% for error in form.melli_code.errors %}
                <span style="color: red">[{{ error }}]</span>
            {% endfor %} <br>

            {% for c in form.credit_cards %}
                <label for="{{ c.id }}">{{ c.label }}</label>
                {{ c }}
                {% for error in c.errors %}
                    <span style="color: red">[{{ error }}]</span>
                {% endfor %} <br>
            {% endfor %}

            <label for="{{ form.authorization_photo.id }}">{{ form.authorization_photo.label }}</label>
            <p>Please provide following code in your authorization photo:</p>
            <p>{{ user.authorization_id }}</p>
            {{ form.authorization_photo }}
            {% for error in form.authorization_photo.errors %}
                <span style="color: red">[{{ error }}]</span>
            {% endfor %} <br>
        <p>
            <button>Add</button>
        </p>
        <p>
            <input type="submit" value="Submit">
        </p>
        </p>
    </form>
{% endblock %}