{% extends 'base.html' %}
{% block content %}
    <h1>Add Ticket</h1>
<form action="{{ url_for('support.add_ticket') }}" method="POST" enctype="multipart/form-data"  name="add-ticket">
    {{ form.hidden_tag() }}
    <p>
        Ticket Form:
    </p>
    {{ show_input('ticket_type') }}
    {{ show_input('title') }}
    {{ show_input('message_text') }}
    {{ show_input('message_media') }}
    <input type="submit" value="Send">
</form>
{% endblock %}