{% extends 'base.html' %}
{% block content %}
    <h1>All Tickets</h1>
    {% for ticket in tickets %}
        <p>
            Title {{ ticket.title }} <br>
            Related Section: {{ ticket.type }} <br>
            Date Created: {{ get_iran_datetime(ticket.date) }} <br>
            Related Product: {{ ticket.related_product }} <br>
            <a href="{{ url_for('support.view_ticket', id=ticket.id) }}">View</a>
        </p>
        <hr>
    {% endfor %}
{% endblock %}