{% extends 'base.html' %}
{% block title %}
    Advertisement List
{% endblock %}
{% block content %}
    <h1>Advertisement List</h1>
    <div>
        {% for ad in ad_list %}
            <h3>{{ ad.ad.id }}</h3>
            <p>{{ ad.username }}</p>
            <p>{{ ad.ad.coin }}</p>
            <p>{{ ad.ad.min_amount }}</p>
            <p>{{ ad.ad.max_amount }}</p>
            <p>{{ ad.ad.commission_type }}</p>
            <p>_________________</p>
        {% endfor %}
    </div>

{% endblock %}