{% extends 'base.html' %}
{% block content %}
    <h1>Change Password</h1>
    {% if reset_code != None %}
        <form action="{{ url_for('user.change_password', reset_code=reset_code) }}" method="POST"
              name="reset-password">
            {{ form.hidden_tag() }}
            {{ show_input('password') }}
            {{ show_input('repeat_password') }}
            <input type="submit" value="Send">
        </form>
    {% else %}
        <form action="{{ url_for('user.change_password') }}" method="POST"
              name="change-password">
            {{ form.hidden_tag() }}
            {{ show_input('current_password') }}
            {{ show_input('password') }}
            {{ show_input('repeat_password') }}
            <input type="submit" value="Send">
        </form>
    {% endif %}
{% endblock %}