{% extends 'base.html' %}
{% block content %}
    <h1>Change Password</h1>
    <form action="{{ url_for('user.change_profile_photo') }}" enctype="multipart/form-data" method="POST"
          name="change-profile-photo">
        {{ form.hidden_tag() }}
        {{ show_input('profile_photo') }}
        <input type="submit" value="Send">
    </form>
{% endblock %}