{% extends 'dashboard-base.html' %}
{% block content %}

<h4>{{ current_user.first_name }}</h4>
<form action="{{ url_for('user.change_commission_discount',username=username) }}" method="post">
{{ form.csrf_token }}
<p>
   commission discount rate : {{ form.commission(value=user.commision_discount) }}
</p>
    <input type="submit" id="change_commission_discount_submit" value="save">
</form>


{% endblock %}