{% extends 'base.html' %}
{% block content %}
    <h1>Edit Wallet</h1>
<form action="" method="POST" name="edit-wallet">
    {{ form.hidden_tag() }}
    <p>
        Please Enter Your Wallet Info:
        <br>
        <br>
        <label for="{{ form.coin.id }}">{{ form.coin.label }}</label>
        {{ form.coin() }}
        {% for error in form.coin.errors %}
            <span style="color: red">[{{ error }}]</span>
        {% endfor %} <br>

        <label for="{{ form.name.id }}">{{ form.name.label }}</label>
        {{ form.name(size=40) }}
        {% for error in form.name.errors %}
            <span style="color: red">[{{ error }}]</span>
        {% endfor %} <br>

        <label for="{{ form.address.id }}">{{ form.address.label }}</label>
        {{ form.address(size=80) }}
        {% for error in form.address.errors %}
            <span style="color: red">[{{ error }}]</span>
        {% endfor %} <br>

        <p>
            <input type="submit" value="Edit">
        </p>
    </p>
</form>
{% endblock %}