{% extends 'base.html' %}
{% block content %}

    <form method="post">
        {{ form.csrf_token }}
        <p>
            {{ form.commision_rate.label.text }} :
        </p>
        {{ form.commision_rate }}
        <input type="submit" value="save">
    </form>
{% endblock %}
