{% extends 'base.html' %}
{% block content %}
    <h1>Forgot Password</h1>
    <h3>How do you wanna reset your password</h3>
    <p><a href="{{ url_for('authentication.reset_password', method="EMAIL") }}">Using Your Email Address</a></p>
    <p><a href="{{ url_for('authentication.reset_password', method="PHONENUMBER") }}">Using Your Phonenumber</a></p>
{% endblock %}