{% extends 'base.html' %}
{% block content %}
    <h1>Login</h1>
    <form action="{{ url_for('authentication.login', **args) }}" method="POST" name="login">
        {{ form.hidden_tag() }}
        <p>
            Please Enter Your Account Credentials:
            <br>
            <br>
            <label for="{{ form.phonenumber_or_email.id }}">{{ form.phonenumber_or_email.label }}</label>
            {{ form.phonenumber_or_email(size=40) }}
            {% for error in form.phonenumber_or_email.errors %}
                <span style="color: red">[{{ error }}]</span>
            {% endfor %} <br>

            <label for="{{ form.password.id }}">{{ form.password.label }}</label>
            {{ form.password(size=40) }}
            {% for error in form.password.errors %}
                <span style="color: red">[{{ error }}]</span>
            {% endfor %} <br>

            <label for="{{ form.remember_me.id }}">{{ form.remember_me.label }}</label>
            {{ form.remember_me }}
            {% for error in form.remember_me.errors %}
                <span style="color: red">[{{ error }}]</span>
            {% endfor %} <br>
        <p>
            <a href="{{ url_for('authentication.forgot_password') }}">Forgot Password?</a>
        </p>
        <p>
            {% for error in form.recaptcha.errors %}
                {{ error }}
            {% endfor %}
            {{ form.recaptcha() }}
        </p>
        <p>
            <input type="submit" value="Login">
        </p>
        </p>
    </form>
{% endblock %}