{% extends 'base.html' %}
{% block content %}
    <h1>Resend Email Verification</h1>
    {{ current_user.is_authenticated }}
    {% if not current_user.is_authenticated %}
        <form action="{{ url_for('authentication.resend_verification_email', username=user.username) }}" method="POST"
              name="resend-email-verification">
            {{ form.hidden_tag() }}
            <h4>{{ email_secret }}</h4>
            {{ show_input('email') }}
            <input type="submit" value="Send">
        </form>
    {% else %}
        <p>Your Email Address: {{ user.email }}</p>
        If this is correct you can resend verification email:
        <form action="{{ url_for('authentication.resend_verification_email', username=user.username) }}" method="POST"
              name="resend-email-verification">
            {{ form.hidden_tag() }}
            <p>
                <label for="{{ form.email.id }}">{{ form.email.label }}</label>
                {{ form.email(value=user.email, readonly=readonly, size=user.email|length) }}
                {% for error in form.email.errors %}
                    <span style="color: red">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {% for error in form.recaptcha.errors %}
                    {{ error }}
                {% endfor %}
                {{ form.recaptcha }}
            </p>
            <p>
                <input type="submit" value="Send">
            </p>
        </form>

        And if email is not correct, change it here:
        <a href="{{ url_for('user.change_email', username=user.username) }}">Change Email</a>

    {% endif %}
{% endblock %}