{% extends 'base.html' %}

{% block content %}

    {% for notification in  current_user.notifications.detail %}
        <h2>{{ notification.text }}</h2>
        <h3>{{ notification.seen }}</h3>
        <a href="{{ url_for(notification.url_endpoint,**notification.args) }}">more</a>
        <hr>
    {% endfor %}
{% endblock %}
